upstream php {
    server unix:{{ fpm_sock }};
}

server {
        listen 80;
        root /appli/projects/md1/nginx;
        index index.php index.html index.htm;
        server_name wiki;

        location / {
            try_files $uri $uri/ =404;
        }

        location ~ \.php$ {
            include snippets/fastcgi-php.conf;
            fastcgi_pass unix:/var/run/php/php5.6-fpm.sock;
        }


        location ~ /\.ht {
                deny all;
        }
}
